@import "../../styles/utils/variables.scss";

.Header {
  height: 100%;
  border-right: 1px solid #fafafa;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
}
