.Wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;

  input {
    flex: 1 1 auto;
  }

  button {
    height: 32px;
    flex-shrink: 0;
    white-space: nowrap;
  }

  .Input {
    margin-bottom: 0;
  }
}
