@import "../../styles/utils/variables.scss";

.Container {
  padding: 20px 40px;
}

.Header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;

  span {
    text-transform: uppercase;
    font-size: 14px;
    color: $light-text;
  }
}

.HeaderInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ItemImg {
  width: 24px;
  height: 24px;
}

.SubText {
  font-size: 14px;
  color: $light-text;
}

.Col,
.Row {
  padding-block: 8px;
  display: flex;
  gap: 4px;
}

.Col {
  flex-direction: column;
}

.Main {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
