@import "../../../styles/utils/variables.scss";

.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 8px 0 8px 8px;

  span {
    align-self: center;
    font-size: 14px;
  }

  &:hover {
    background-color: #34416a47;
  }
}

.Position {
  min-width: 30px;
}

.Title {
  min-width: 128px;
  max-width: 128px;
}

.Symbol {
  text-transform: uppercase;
  color: $light-text;
  min-width: 75px;
}

.Price,
.PriceChange {
  min-width: 130px;
}

.ItemImg {
  width: 18px;
  height: 18px;
}

.Info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Is--Plus {
  color: $success-text;
}

.Is--Minus {
  color: $warrning-text;
}
