@import "../../styles/utils/variables.scss";

.Card {
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  flex: 1;
}

.Header {
  display: flex;
}

.TitleWrapper {
  display: flex;
  align-items: baseline;
  gap: 4px;

  .SubTitle {
    font-size: 12px;
    font-weight: 100;
    color: #808893;
  }
}

.Theme--dark {
  background-color: $background-color;
}

.Theme--light {
  background-color: $background-color-light;
}

.Title--sm {
  font-size: 14px;
}

.Title--md {
  font-size: 18px;
}

.Title--lg {
  font-size: 24px;
}

.Title--xl {
  font-size: 36px;
}
