main {
  margin-left: 70px;
}

.Page {
  display: flex;
  flex-direction: row;
}

.BodyContainer {
  display: flex;
  flex: 1 1 auto;
}

.Container {
  display: flex;
}

.FlexCol {
  display: flex;
  flex-direction: column;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Row {
  display: flex;
}

.GapMd {
  gap: 8px;
}

.col-90 {
  width: 90%;
}

.col-80 {
  width: 80%;
}

.col-70 {
  width: 70%;
}

.col-66 {
  width: calc((100% / 3) * 2);
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-30 {
  width: 30%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 20%;
}

.col-10 {
  width: 10%;
}

.p-block {
  padding: 20px;
}

.Sidebar {
  width: 80px;
}
