$template-color: #0d142c;
$component-color: #f5e43e;
$background-color: #13192c;
$background-color-light: #2d3c6c;

$border-color: #7a7a7a;

$light-text: #808893;
$warrning-text: #ea4243;
$success-text: #16c784;
