@import "../../styles/utils/variables.scss";

.InputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #18223f;
}

.Input {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  background-color: transparent;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #b4a6a6;
  }
}

.IconWrapper {
  padding-left: 22px;
}
